<%= form_with(model: structure, local: true) do |form| %>
  <% if structure.errors.any? %>
    <div id="error_explanation" class="alert alert-primary">
      <h2><%= pluralize(structure.errors.count, "error") %> prohibited this structure from being saved:</h2>

      <ul>
      <% structure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :structure_name, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, id: :structure_address, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :zipcode %>
    <%= form.number_field :zipcode, id: :structure_zipcode, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :phone %>
    <%= form.number_field :phone, id: :structure_phone, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, id: :structure_email, class:"form-control", placeholder:"name@example.com" %>
  </div>

  <div class="form-group">
    <%= form.label :typeStructure %>
    <%= form.text_field :typeStructure, id: :structure_typeStructure, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :Direction %>
    <%= form.select :direction_id, Direction.all.collect { |d| [ d.name, d.id ] }, include_blank: false, class:"form-control" %>
  </div>

  <div class="btn btn-primary">
    <%= form.submit %>
  </div>
<% end %>
