<%= form_with(model: direction, local: true) do |form| %>
  <% if direction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(direction.errors.count, "error") %> prohibited this direction from being saved:</h2>

      <ul>
      <% direction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :direction_name %>
  </div>

  <div class="field">
    <%= form.label :typeOffer %>
    <%= form.text_field :typeOffer, id: :direction_typeOffer %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
