<p id="notice"><%= notice %></p>

<h1>Activites</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activites.each do |activite| %>
      <tr>
        <td><%= activite.nom %></td>
        <td><%= link_to 'Show', activite, class:"badge badge-primary" %></td>
        <td><%= link_to 'Edit', edit_activite_path(activite), class:"badge badge-primary" %></td>
        <td><%= link_to 'Destroy', activite, method: :delete, data: { confirm: 'Are you sure?' }, class:"badge badge-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activite', new_activite_path, class:"badge badge-primary" %>
