<!DOCTYPE html>
<html>
  <head>
    <title><%= @titre %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <nav>
          <ul class="nav nav-pills nav-fil">
            <li><%= link_to "Home", root_path, class:"nav-link"%></li>
            <li><%= link_to "Structure", structures_path, class:"nav-link" %></li>
            <li><%= link_to "Direction", directions_path, class:"nav-link" %></li>
            <li><%= link_to "Place", places_path, class:"nav-link" %></li>
            <li><%= link_to "Activite", activites_path, class:"nav-link" %></li>
            <li><%= link_to "Seances", seances_path, class:"nav-link" %></li>
          </ul>
        </nav>
      </header>
      <section>
        <%= yield %>
      </section>
    </div>
  </body>
</html>
